@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: switzer, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 14px;
}

.parallelogram {
  transform: skewY(-3deg);
}

.parallelogram section:first-child {
  transform: skewY(3deg);
}



.pointer-box-touched {
  display: none;
}

.pointer-box:hover .pointer-box-touched {
  opacity: 1;
  display: block;
}

.pointer-box:hover .pointer-box-default {
  display: none;
}

.custom-column-item-selected-icon {
  display: none;
}

.custom-column-item:hover .custom-column-item-selected-icon {
  display: block;
}

.custom-column-item:hover {
  background-color: #e8e8e8;
}
