@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: switzer, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 14px;
}

.parallelogram {
  transform: skewY(-3deg);
}

.parallelogram section:first-child {
  transform: skewY(3deg);
}
